@using SeramikStore.Web.Localization
@using SeramikStore.Web.ViewModels.Return

@model ReturnCreateViewModel
@inject IStringLocalizer<CartResource> L

<div class="container mt-4">
    <form asp-action="CreateReturn" method="post">
    <div class="row">
        <div class="col-md-2">
            <partial name="_LeftMenu" />
        </div>
        
            <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">

                    <h7 class="mb-4">
                        <i class="fa-solid fa-rotate-left me-2"></i>
                        @L["Yeni İade Talebi"]
                    </h7>
                    <span asp-validation-for="Items" class="text-danger"></span>

                        <input type="hidden" asp-for="OrderId" />

                        <div class="row g-1">
                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                var item = Model.Items[i];

                                <div class="col-12">
                                    <div class="border rounded p-1 d-flex align-items-center justify-content-between">

                                        <!-- SOL: Ürün -->
                                        <div class="d-flex align-items-center gap-3">
                                            <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/images/no-image.png" : item.ImagePath)"
                                                 style="width:60px;height:60px;object-fit:cover;border-radius:8px;" />

                                            <div>
                                                <div style="font-weight:500">@item.ProductName</div>
                                                <small class="text-muted">@item.ProductCode</small>
                                                <div class="text-success small mt-1">
                                                    @L["İade Edilebilir Miktar"]: @item.AvaliableQuatityForReturn @L["Adet"]
                                                </div>
                                            </div>
                                        </div>

                                        <!-- SAĞ: Aksiyon -->
                                        <div class="text-center">

                                            <div class="d-flex align-items-center gap-2 justify-content-center mb-1">
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-secondary"
                                                        onclick="decrease(@i)">
                                                    -
                                                </button>

                                                <input type="number"
                                                       id="qty-@i"
                                                       asp-for="Items[@i].ReturnQuantity"
                                                       class="form-control form-control-sm text-center"
                                                       style="width:60px"
                                                       min="0"
                                                       max="@item.AvaliableQuatityForReturn" />

                                                <button type="button"
                                                        class="btn btn-sm btn-outline-secondary"
                                                        onclick="increase(@i, @item.AvaliableQuatityForReturn)">
                                                    +
                                                </button>
                                            </div>

                                            <button type="button"
                                                    class="btn btn-link btn-sm p-0"
                                                    onclick="setMax(@i, @item.AvaliableQuatityForReturn)">
                                                @L["Tümünü İade Et"];
                                            </button>

                                            <!-- hidden -->
                                            <input type="hidden" asp-for="Items[@i].OrderDetailId" />
                                            <input type="hidden" asp-for="Items[@i].ProductId" />

                                        </div>

                                    </div>
                                </div>
                            }
                        </div>

                        <div class="mt-1">
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-4">
                                    <label>İade Sebebi</label>
                                    <select asp-for="ReasonId"
                                            asp-items="Model.Reasons"
                                            class="form-select"></select>
                                    <span asp-validation-for="ReasonId" class="text-danger"></span>
                                </div>
                                <div>
                                    <label>İade Açıklama</label>
                                    <textarea id="customReason"
                                              asp-for="Reasondesc"
                                              class="form-control"
                                              rows="3"
                                              maxlength="499">
                            </textarea>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label>@L["Banka Adı"]</label>
                                        <input asp-for="BankName" class="form-control" />
                                        <span asp-validation-for="BankName" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label>@L["IBAN"]</label>
                                        <input asp-for="IBAN" class="form-control" maxlength="34" />
                                        <span asp-validation-for="IBAN" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label>@L["Hesap Sahibi"]</label>
                                        <input asp-for="AccountHolderName" class="form-control" />
                                        <span asp-validation-for="AccountHolderName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <span asp-validation-for="Reasondesc" class="text-danger"></span>



                        </div>

                        <!-- Submit -->
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-check me-1"></i>
                                İade Talebi Oluştur
                            </button>
                        </div>

                    
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

     </div>
     </form>
</div>


<script>
   function increase(i, max) {
        let el = document.getElementById("qty-" + i);
        let val = parseInt(el.value || 0);

     
        if (val < max) el.value = val + 1; 
    }

    function decrease(i) {
        let el = document.getElementById("qty-" + i);
        let val = parseInt(el.value || 0);
        if (val > 0) el.value = val - 1;
    }

    function setMax(i, max) {
        document.getElementById("qty-" + i).value = max;
    }


</script>

