@using SeramikStore.Web.Localization
@model List<SeramikStore.Entities.UserAddress>
@inject IStringLocalizer<AccountResource> L

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2">
            <partial name="_LeftMenu" />
        </div>
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">

                    <h6>@L["Adreslerim"]</h6>

                    <a asp-controller="UserAddress"
                       asp-action="Create"
                       asp-route-returnUrl="@Context.Request.Path"
                       class="btn btn-outline-primary">
                        <i class="bi bi-plus-circle me-1"></i>
                        @L["Yeni Adres Ekle"]
                    </a>

                    <table class="table table-bordered">
                        <tr>
                            <th>@L["Başlık"]</th>
                            <th>@L["Adres"]</th>
                            <th>@L["Varsayılan"]</th>
                            <th></th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Baslik</td>
                                <td>@item.Adres</td>
                                <td>@(item.IsDefault? L["Evet"] : L["Hayır"])</td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-danger">
                                        @L["Sil"]
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Edit"
                                       asp-route-id="@item.Id"
                                       asp-route-returnUrl="@Context.Request.Path"
                                       class="btn btn-sm btn-warning">
                                        @L["Adresi Düzenle"]
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>