@using SeramikStore.Web.Localization
@inject IStringLocalizer<CommonResource> L
@model SeramikStore.Services.DTOs.ProductListByCategoryForHomeDto

@await Component.InvokeAsync("Carousel")
<div class="container">
    <div class="row g-4">

        <!-- SOL TARAF (sidebar) -->
        <div class="col-md-2">
            <div class="card p-3 shadow-sm">
                <h6>@L[Model.CategoryName] (@Model.ProductCount)</h6>
            </div>
        </div>

        <!-- SAĞ TARAF -->
        <div class="col-md-10">

            <!-- ÜRÜNLER -->
            <div class="row g-4">
                @foreach (var item in Model.ProductList)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <a asp-action="Details"
                           asp-controller="Home"
                           asp-route-id="@item.Id"
                           class="text-decoration-none">

                            <div class="card h-100 shadow-sm border-0">
                                <img src="@(string.IsNullOrEmpty(item.MainImageThumbPath)
                                                                         ? "/images/no-image.png": item.MainImageThumbPath)"
                                 class="card-img-top"
                                 style="height:180px;object-fit:cover;" />

                                <div class="card-body">
                                    <h6 class="text-dark fw-semibold">
                                        @item.ProductName
                                    </h6>

                                    <div class="fw-bold text-primary">
                                        @item.UnitPrice.ToString("N2", new System.Globalization.CultureInfo("tr-TR"))
                                        <small>@item.CurrencyCode</small>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                                }
            </div>

        </div>
    </div>
</div>