@using Microsoft.Extensions.Localization
@using SeramikStore.Web.Localization
@model SeramikStore.Services.DTOs.CartResultDto
@inject IStringLocalizer<CartResource> L
@using System.Globalization

@{
    ViewData["Title"] = L["Sepetim"];
    var culture = CultureInfo.CurrentCulture;
    var araToplam = Model.Summary.TotalAmount;
    var kargo = Model.Summary.CargoAmount;
    var toplam = Model.Summary.GrandTotal;
    var CurrencyCode = Model.Summary.CurrencyCode.ToString().ToUpper();
}

<div class="container mt-8">
    <h4 class="mb-3">
        @L["Sepetim"] (@Model.Items.Sum(x => x.Quantity) @L["Ürün"])
    </h4>

    <div class="row">
        <!-- SOL TARAF : SEPET LİSTESİ -->
        <div class="col-md-8">
            @foreach (var item in Model.Items)
            {
                <div class="row align-items-center border rounded-4 p-2 product-box">

                    <div class="col-3 col-md-2 product-image">
                        <img src="@(string.IsNullOrEmpty(item.MainImagePath) ? "/images/no-image.png" : item.MainImagePath)"
                             class="img-fluid"
                             alt="@item.ProductName" />
                    </div>

                    <!-- Ürün Bilgi -->
                    <div class="col-9 col-md-5">
                        <div class="fw-semibold text-dark">
                            @item.ProductName
                        </div>
                        <div class="text-muted small">
                            @L["Ürün Kodu"]: @item.ProductCode
                        </div>
                    </div>

                    <!-- Adet -->
                    <div class="col-6 col-md-2 text-md-center mt-2 mt-md-0">
                        <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-light btn-sm">−</a>
                        @item.Quantity @L["Adet"]
                        <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-light btn-sm">+</a>
                    </div> 

                    <!-- Fiyat -->
                    <div class="col-4 col-md-2 text-end mt-2 mt-md-0">
                        <div class="fw-bold">
                            @item.LineTotal.ToString("N2", culture)
                            @item.CurrencyCode.ToString().ToUpper()
                        </div>
                    </div>

                    <!-- Sil -->
                    <div class="col-2 col-md-1 text-end mt-2 mt-md-0">
                        <a asp-action="DeleteCartItem"
                           asp-route-id="@item.Id"
                           class="text-muted small text-decoration-none">
                            <i class="fa-regular fa-trash-alt"></i>
                        </a>
                    </div>

                </div>

           }
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="mb-3">@L["Sipariş Özeti"]</h5>

                    <div class="d-flex justify-content-between mb-2">
                        <span>@L["Sipariş Tutarı"]</span>
                        <span>@araToplam.ToString("N2", culture) @CurrencyCode</span>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <span>@L["Kargo Tutarı"]</span>
                        <span>@kargo.ToString("N2", culture) @CurrencyCode</span>
                    </div>

                    <hr />

                    <div class="d-flex justify-content-between fw-bold fs-5">
                        <span>@L["Toplam Tutar"]</span>
                        <span>@toplam.ToString("N2", culture) @CurrencyCode</span>
                    </div>

                    <a asp-controller="Cart"
                        asp-action="AddressDetail"
                        class="btn btn-warning w-100 mt-3 @(Model.Items.Any() ? "" : "disabled")"
                        tabindex="@(Model.Items.Any() ? "0" : "-1")"
                        aria-disabled="@(Model.Items.Any() ? "false" : "true")">
                        @L["Alışverişi Tamamla"]
                    </a>

                </div>
            </div>
        </div>
        
    </div>
</div>


<style>
    .product-image img {
        width: 90px;
        height: 90px;
        object-fit: contain;
    }

</style>

