@model IEnumerable<SeramikStore.Services.DTOs.ProductListForAdminDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ürün Yarat</a>
</p>
<button id="btnSaveOrder" class="btn btn-success">
    Sıralamayı Kaydet
</button>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableForSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageCount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="sortable-products">
@foreach (var item in Model) {
        <tr data-id="@item.Id" >
                <td class="drag-handle">☰</td>
                <td class="drag-handle">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="drag-handle">
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
                <td class="drag-handle">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
                <td class="drag-handle">
                    @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td class="drag-handle text-end" style="font-family: monospace; ">
                       @item.UnitPrice.ToString("N2", new System.Globalization.CultureInfo("tr-TR"))
                    @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
                <td class="drag-handle">
                @Html.DisplayFor(modelItem => item.AvailableForSale)
            </td>
                <td class="drag-handle">
                    @if (!string.IsNullOrEmpty(item.MainImagePath))
                    {
                        <img src="@item.MainImagePath"
                             alt="Ürün Resmi"
                             style="width:80px; height:80px; object-fit:cover;" />
                    }
                    else
                    {
                        <span class="text-muted">Resim yok</span>
                    }
                </td>
                <td class="drag-handle">
                    @Html.DisplayFor(modelItem => item.ImageCount)
            </td>

            <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    @if (item.ImageCount > 0)
                    {
                        <button class="btn btn-danger" disabled>Sil</button>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-danger">Sil</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

@* <table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Ürün</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody id="sortable-products">
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td class="drag-handle">☰</td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
            </tr>
        }
    </tbody>
</table> *@


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="~/js/product-order.js"></script>
}