@model IEnumerable<SeramikStore.Services.DTOs.ProductListForAdminDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ürün Yarat</a>
</p>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableForSale)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
                <td class="text-end">
           
                    @item.UnitPrice.ToString("N2", new System.Globalization.CultureInfo("tr-TR"))
                    @Html.DisplayFor(modelItem => item.CurrencySymbol)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableForSale)
            </td>

            <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-info">
                        Details
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-danger">
                        Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
