@using Microsoft.Extensions.Localization
@using SeramikStore.Web.Localization
@inject IStringLocalizer<CommonResource> C
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dibu Seramik</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/myTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeramikStore.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <partial name="headerNavigation" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        
        @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "tr")
        {
            <div class="container text-center">
                &copy; @DateTime.Now.Year – Dibu Seramik |
                <a asp-controller="Home" asp-action="PrivacyTR">Gizlilik Politikası</a>|
                <a asp-controller="Home" asp-action="KVKKTR">KVKK Aydınlatma Metni</a>|
                <a asp-controller="Home" asp-action="MesafeliSatisTR">Mesafeli Satış Sözleşmesi</a>
            </div>
        }
        else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "en")
        {
            <div class="container text-center">
                &copy; @DateTime.Now.Year – Dibu Seramik |
                <a asp-action="PrivacyEN">Privacy Policy</a> |
                <a asp-action="KVKKEN">Data Protection</a> |
                <a asp-action="MesafeliSatisEN">Distance Sales</a>
            </div>
        }

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["Success"] != null)
    {
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="successToast" class="toast text-bg-success" role="alert">
                <div class="toast-header text-bg-success">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    @TempData["Success"]
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var toastEl = document.getElementById('successToast');
                var toast = new bootstrap.Toast(toastEl, { delay: 4000 });
                toast.show();
            });
        </script>
    }

    @if (TempData["Error"] != null)
    {
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="errorToast" class="toast text-bg-danger" role="alert">
                <div class="toast-header text-bg-danger">
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    @TempData["Error"]
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var toastEl = document.getElementById('errorToast');
                var toast = new bootstrap.Toast(toastEl, { delay: 5000 });
                toast.show();
            });
        </script>
    }

</body>
</html>
