@using SeramikStore.Web.Localization
@inject IStringLocalizer<CommonResource> C
@{
    var userName = Context.Session.GetString("session_UserFullName");
    var sessionAvatar = Context.Session.GetString("session_Avatar");
}


<div class="card shadow-sm">
    <div class="card-body text-center">

        <div class="avatar mb-2">@sessionAvatar</div>
        <div class="fw-semibold">@userName</div>

        <hr />

        <div class="list-group text-left">

            <a class="btn btn-outline-info w-100 mb-2" asp-controller="Order" asp-action="OrderList">
                @C["Siparişlerim"]
            </a>
            <a class="btn btn-outline-info w-100 mb-2" asp-controller="UserAddress" asp-action="Index">
                @C["Adreslerim"]
            </a>
            <a class="btn btn-outline-info w-100 mb-2" asp-controller="Account" asp-action="Profile">
                @C["Hesabım"]
            </a>
            <a class="btn btn-outline-info w-100 mb-2" asp-controller="Cart" asp-action="Summary">
                <i class="fas fa-shopping-cart"></i>@C["Sepetim"] @await Component.InvokeAsync("Cart")
            </a>
        </div>
        <hr />
        <a class="btn btn-outline-danger w-100" asp-controller="Account" asp-action="Logout">
            <i class="fas fa-sign-out-alt"></i>@C["Çıkış Yap"]
        </a>

    </div>
</div>


<style>
    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #dc3545;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin: auto;
    }

    .return-card {
        background: #f8f9fa;
        transition: 0.2s;
    }

        .return-card:hover {
            background: #eef1f5;
        }

    /* mobil */
    @@media (max-width: 768px) {
        .col-md-3, .col-md-6 {
            width: 100%;
        }
    }
</style>
