@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@using Microsoft.Extensions.Localization
@using SeramikStore.Web.Localization
@inject IStringLocalizer<CommonResource> C

@inject Microsoft.Extensions.Options.IOptions<SeramikStore.Web.Options.CompanyOptions> Company
@* <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
<nav class="navbar navbar-expand-lg bg-primary>*@
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            @Company.Value.Name
        </a>

        <!-- MOBILE TOGGLE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- SOL MENÜ -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">@C["Ürünler"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">@C["Hakkımızda"]</a>
                </li>
                @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown"
                           role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i> @C["Yönetim"]
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Product">@C["Ürün Tanımlama"]</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Currency">@C["Para Birimleri"]</a>
 
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Category">@C["Kategoriler"]</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Order">@C["Müşteri Siparişleri"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Potansiyel" asp-action="Index">@C["Potansiyel Müşteriler"]</a>
                            </li>

                        </ul>
                    </li>
                }
            </ul>




            <!-- SAĞ MENÜ -->
 
            <ul class="navbar-nav ms-auto">

                <!-- 🛒 SEPET -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cart" asp-action="Summary">
                        <i class="fas fa-shopping-cart"></i> Sepetim  @await Component.InvokeAsync("Cart")
                    </a>
                </li>
                @{
                    var userName = Context.Session.GetString("userName");
                }

                @if (string.IsNullOrEmpty(userName))
                {
                    <!-- Giriş yapılmamış -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i>@C["Giriş Yap"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">
                            <i class="fas fa-user-plus"></i>@C["Kayıt Ol"]
                        </a>
                    </li>
                }
                else
                {
                    <!-- Hesabım Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown"
                           role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i> @userName
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                                    <i class="fas fa-id-card"></i> Kullanıcı Bilgilerim
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="MyProfile">
                                    <i class="fas fa-id-card"></i> MyProfile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="UserAddress" asp-action="Index">
                                    <i class="fas fa-id-card"></i> Adreslerim
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Order" asp-action="Index">
                                    <i class="fas fa-box"></i> Siparişlerim
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Cart" asp-action="Summary">
                                    <i class="fas fa-shopping-cart"></i> Sepetim  @await Component.InvokeAsync("Cart")
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt"></i> Çıkış Yap
                                </a>
                            </li>
                        </ul>
                    </li>
                }
  
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="languageDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="/images/flags/@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName).svg"
                             width="20" height="14" />

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="tr-TR"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/tr.svg" width="20" height="14" class="me-2" />
                                Türkçe
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="en-US"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/en.svg" width="20" height="14" class="me-2" />
                                English
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="fr-FR"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/fr.svg" width="20" height="14" class="me-2" />
                                Français
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="de-DE"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/de.svg" width="20" height="14" class="me-2" />
                                Deutsch
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="it-IT"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/it.svg" width="20" height="14" class="me-2" />
                                Italiano
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="ru-RU"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/ru.svg" width="20" height="14" class="me-2" />
                                Русский
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               asp-controller="Culture"
                               asp-action="Set"
                               asp-route-culture="el-GR"
                               asp-route-returnUrl="@Context.Request.Path">
                                <img src="/images/flags/el.svg" width="20" height="14" class="me-2" />
                                Ελληνικά
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
