@using SeramikStore.Web.Localization
@model SeramikStore.Web.ViewModels.ProfileViewModel
@inject IStringLocalizer<AccountResource> L
@{
    ViewData["Title"] = "Şifremi Değiştir";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2">
            <partial name="_LeftMenu" />
        </div>
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="mb-4">Profilim</h6>
                    @{
                        var isConfirmed = Context.Session.GetString("session_IsEmailConfirmed") == "True";
                        var email = Context.Session.GetString("session_Email");
                    }

                    <div class="card mb-4">
                        <div class="card-header">
                            <strong>Email Adresi Doğrulama</strong>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">

                                @if (isConfirmed)
                                {
                                    <div class="col-md-6 mb-3 text-success">
                                        <i class="bi bi-check-circle-fill"></i>
                                        @email
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6 mb-3 text-warning">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        @email Email Adresi henüz doğrulanmamış.
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <form asp-action="ResendConfirmationEmail2" asp-controller="Account" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-warning">
                                                @L["Doğrula"]
                                            </button>
                                        </form>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>



                   <div class="card mb-4">
                        <div class="card-header">
                            <strong>Kişisel Bilgiler</strong>
                        </div>
                        <div class="card-body">    
                            <form asp-action="Profile" method="post">
                                   @Html.AntiForgeryToken()
                            <input type="hidden" name="FormType" value="Profile" />
                             <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Profile.FirstName"></label>
                                        <input asp-for="Profile.FirstName" class="form-control" />
                                        <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Profile.LastName"></label>
                                        <input asp-for="Profile.LastName" class="form-control" />
                                        <span asp-validation-for="Profile.LastName" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Profile.Email"></label>
                                        <input asp-for="Profile.Email" class="form-control" />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Profile.PhoneNumber"></label>
                                        <input asp-for="Profile.PhoneNumber" class="form-control" />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Profile.BirthDate"></label>
                                        <input asp-for="Profile.BirthDate" class="form-control" type="date" />
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <button type="submit" class="btn btn-primary">
                                            @L["Bilgileri Güncelle"]
                                        </button>
                                    </div>
                                </div>
                                </form>
                                

                           
                        </div>
                    </div>

                    <!-- ================= ŞİFRE DEĞİŞTİR ================= -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <strong>Şifre Değiştir</strong>
                        </div>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(false)
                            </div>
                        }
                        <div class="card-body">
                            <form asp-action="Profile" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="FormType" value="Password" />

                                <div class="mb-3">
                                    <label asp-for="Password.CurrentPassword"></label>
                                    <input asp-for="Password.CurrentPassword" class="form-control" type="password" />
                                    <span asp-validation-for="Password.CurrentPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Password.NewPassword"></label>
                                    <input asp-for="Password.NewPassword" class="form-control" type="password" />
                                    <span asp-validation-for="Password.NewPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Password.ConfirmNewPassword"></label>
                                    <input asp-for="Password.ConfirmNewPassword" class="form-control" type="password" />
                                    <span asp-validation-for="Password.ConfirmNewPassword" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-warning">
                                    Şifreyi Değiştir
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
