@using Microsoft.Extensions.Localization
@using SeramikStore.Web.Localization
@using SeramikStore.Contracts.Order
@using System.Globalization
@using SeramikStore.Entities.Enums
@model OrderDetailedDto
@inject IStringLocalizer<CartResource> L

@{
    ViewData["Title"] = L["Sipariş Detayı"];
    var culture = CultureInfo.CurrentCulture;
    var currency = Model.CurrencyCode?.ToUpper();
}

<div class="container mt-4">
    <div class="row">

        <!-- SOL TARAF (GENİŞ) -->
        <div class="col-md-8">
            <!-- SİPARİŞ SÜRECİ -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">

                    <h6 class="mb-4">
                        <i class="fa-solid fa-chart-line me-2"></i>
                        @L["Sipariş Süreci"]
                    </h6>

                    @{
                        var ProcessStatuses = Model.StatusProcess.OrderBy(x => x.RowOrderNo).ToList();
                        var currentCode = Model.OrderStatusCode;
                        var isCancelled = currentCode == (int)OrderStatusCode.Cancelled;
                    }
                    @if (isCancelled)
                    {
                        <div class="alert alert-danger text-center fw-bold mb-4">
                            ❌ SİPARİŞ İPTAL EDİLDİ
                        </div>
                    }
                    <div class="stepper-wrapper">


                        @for (int i = 0; i < ProcessStatuses.Count; i++)
                        {
                            var ProcessStatusItem = ProcessStatuses[i];
                            var isCompleted = ProcessStatusItem.isCompleted;
                            var isCurrent = ProcessStatusItem.isLast;
                            var isLastCancelledStep = (ProcessStatusItem.OrderStatusCode == (int)OrderStatusCode.Cancelled);

                            @if (isCancelled && (isCompleted == false))
                            {

                            }
                            else
                            {
                                <div class="stepper-item @(isCompleted ? "completed" : "") @(isCurrent ? "active" : "") @(isLastCancelledStep ? "iptal" : "")">

                                    <div class="step-counter">
                                        @if (isCompleted)
                                        {
                                            <i class="fa-solid fa-check"></i>
                                        }
                                        else
                                        {
                                            @if (isCancelled)
                                            {
                                                <i class="fa-solid fa-cancel"></i>
                                            }
                                            else
                                            {
                                               

                                            }

                                        }

                                    </div>

                                    <div class="step-name">

                                        @ProcessStatusItem.Aciklama

                                        @if (isCompleted)
                                        {
                                            <div class="step-date">
                                                @(ProcessStatusItem?.IslemTarihi?.ToString("dd.MM.yyyy HH:mm") ?? "-")
                                            </div>
                                        }

                                    </div>

                                </div>
                            }
                            
                            
                        }

                    </div>

                </div>
            </div>
            <!-- KARGO TAKİP -->
  @*           <div class="card shadow-sm mb-4">
                <div class="card-body">

                    <h6 class="mb-3">
                        <i class="fa-solid fa-box me-2"></i>
                        @L["Kargo Bilgisi"]
                    </h6>

                    @if (!string.IsNullOrEmpty(Model.KargoTakipNo))
                    {
                        <div class="small">
                            <p class="mb-1">
                                <strong>@L["Kargoya Verilme Tarihi"]:</strong>
                                @Model.KargoyaVerilmeTarihi?.ToString("dd.MM.yyyy")
                            </p>
                            <p class="mb-0">
                                <strong>@L["Takip No"]:</strong>
                                @Model.KargoTakipNo
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="text-muted small">
                            @L["Siparişiniz henüz kargoya verilmedi."]
                        </div>
                    }

                </div>
            </div>
 *@


            <!-- TESLİMAT ADRESİ -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">

                    <h6 class="mb-3">
                        <i class="fa-solid fa-truck me-2"></i>
                        @L["Teslimat Adresi"]
                    </h6>

                    @if (Model.Address != null)
                    {
                        <div class="border rounded-3 p-3 bg-light">
                            <strong>@Model.Address.Ad @Model.Address.Soyad</strong><br />
                            @Model.Address.Adres<br />
                            @Model.Address.Ilce / @Model.Address.Il<br />
                            @Model.Address.Telefon
                        </div>
                    }

                </div>
            </div>

            <!-- ÜRÜN LİSTESİ -->
            <div class="card shadow-sm">
                <div class="card-body">

                    <h6 class="mb-3">
                        <i class="fa-solid fa-cart-shopping me-2"></i>
                        @L["Sipariş Ürünleri"]
                    </h6>

                    <div class="table-responsive">
                        <table class="table align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>@L["Ürün"]</th>
                                    <th class="text-end">@L["Birim Fiyat"]</th>
                                    <th class="text-center">@L["Miktar"]</th>
                                    <th class="text-end">@L["Tutar"]</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-cell">
                                                <div class="product-img">
                                                    <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/images/no-image.png" : item.ImagePath)"
                                                         alt="@item.ProductName">
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-name">@item.ProductName</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            @item.UnitPrice.ToString("N2", culture) @currency
                                        </td>
                                        <td class="text-center">
                                            @item.Quantity @L["Adet"]
                                        </td>
                                        <td class="text-end">
                                            @item.LineTotal.ToString("N2", culture) @currency
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end fw-bold">@L["Ürün Toplamı"]</th>
                                    <th class="text-end">
                                        @Model.ProductTotal.ToString("N2", culture) @currency
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end fw-bold">@L["Kargo Tutarı"]</th>
                                    <th class="text-end">
                                        @Model.CargoAmount.ToString("N2", culture) @currency
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end fw-bold">@L["Genel Toplam"]</th>
                                    <th class="text-end fw-bold">
                                        @Model.GrandTotal.ToString("N2", culture) @currency
                                    </th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- SAĞ TARAF (DAR) -->
        <div class="col-md-4">
        <div class="card shadow-sm mb-4 border-warning">
            <div class="card-body">

                <form asp-action="UpdateStatus" method="post">

                        <!-- Sipariş No -->
                        <div class="row-cols-md-6">
                            <strong>@L["Sipariş No"]:</strong> #@Model.Id
                        </div>

                        <!-- Sipariş Tarihi -->
                        <div class="row-cols-md-6">
                            <strong>@L["Sipariş Tarihi"]:</strong>
                            @Model.OrderDate.ToString("dd.MM.yyyy HH:mm")
                        </div>
                    
                        <div class="d-flex justify-content align-items-center gap-1"> 
                        
                                <strong class="mb-0">@L["Durum"]:</strong>

                                <select name="selectedStatus"
                                        class="form-select form-select-sm">
                                        
                                    @foreach (var item in Model.NextStatusesForUpdate)
                                    {
                                        <option value="@item.OrderStatusCode"
                                                selected="@(item.OrderStatusCode == Model.OrderStatusCode)">
                                            @item.Aciklama
                                        </option>
                                    }
                                </select>
                            </div>



                        <!-- Güncelle Buton -->
                        <div class="col-12 text-end mt-2">
                            <input type="hidden" name="orderId" value="@Model.Id" />
                            <button type="submit" class="btn btn-warning btn-sm px-4">
                                @L["Güncelle"]
                            </button>
                        </div>


                </form>


                @if (Model.OrderStatusCode > (int)OrderStatusCode.PaymentPending)
                {
                <hr />

                <form id="cancelLastStatusForm" asp-action="CancelLastStatus" method="post">
                    <input type="hidden" name="orderId" value="@Model.Id" />

                    <button type="button"
                            class="btn btn-outline-secondary btn-sm"
                            onclick="showConfirm('Son statüyü geri almak istediğinize emin misiniz?', function() { document.getElementById('cancelLastStatusForm').submit(); });">
                        <i class="fa-solid fa-rotate-left me-1"></i>
                        Son Statüyü Geri Al
                    </button>
                </form>


                }

                    @if (Model.OrderStatusCode != (int)OrderStatusCode.Cancelled)
                {
                    <hr />

                        <form id="cancelOrderForm" asp-action="UpdateStatus" method="post">
                            <input type="hidden" name="orderId" value="@Model.Id" />
                            <input type="hidden" name="selectedStatus" value="@((int)OrderStatusCode.Cancelled)" />

                            <button type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    onclick="showConfirm('Siparişi iptal etmek istediğinize emin misiniz?', function() { document.getElementById('cancelOrderForm').submit(); });">
                                <i class="fa-solid fa-ban me-1"></i>
                                Siparişi İptal Et
                            </button>
                        </form>
                }

            </div>
        </div>
            <!-- ALT BUTONLAR -->
            <div class="d-grid gap-2 mb-4">
                <a asp-controller="Order"
                   asp-action="CustomerOrders"
                   asp-route-highlightId="@Model.Id"
                   class="btn btn-primary btn-sm">
                    @L["Müşteri Siparişleri"]
                </a>
            </div>

            <!-- DURUM GEÇMİŞİ -->

            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="mb-3">
                        <i class="fa-solid fa-clock-rotate-left me-2"></i>
                        @L["Durum Geçmişi"]
                    </h6>

                    @foreach (var shistory in Model.StatusHistory)
                    {
                        <div class="small mb-3 pb-2 border-bottom">
                            <div class="fw-semibold">@shistory.Aciklama</div>
                            <div class="text-muted">
                                @shistory.IslemTarihi.ToString("dd.MM.yyyy HH:mm")
                            </div>
                            <div class="fw-semibold">@shistory.UserNameSurname</div>
                        </div>
                    }
                </div>
            </div>

        </div>
        </div>


    </div>



<style>
    .cancelled-wrapper::before {
        background-color: #dc3545 !important;
    }

    .stepper-item.cancelled .step-counter {
        background-color: #dc3545;
        border-color: #dc3545;
        color: #fff;
    }

    .stepper-item.cancelled .step-name {
        color: #dc3545;
        font-weight: 700;
    }

    /* Eğer sipariş iptalse tüm çizgi kırmızı */
    .cancelled-wrapper .stepper-item.completed .step-counter {
        background-color: #dc3545;
        border-color: #dc3545;
    }
 

    .stepper-item.cancelled::after {
        background: repeating-linear-gradient( 45deg, #dc3545, #dc3545 5px, #ffffff 5px, #ffffff 10px );
    }

    .stepper-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 10px;
    }

    .stepper-wrapper::before {
        content: '';
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #dee2e6;
        z-index: 1;
    }

    .stepper-item {
        position: relative;
        text-align: center;
        flex: 1;
        z-index: 2;
    }

    .stepper-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 18px;
        right: -50%;
        width: 100%;
        height: 3px;
        background-color: #dee2e6;
        z-index: -1;
    }

    .stepper-item.completed:not(:last-child)::after {
        background-color: #198754
    }

    .step-counter {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #fff;
        border: 3px solid #dee2e6;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .stepper-item.completed .step-counter {
        background-color: #198754;
        border-color: #198754;
        color: #fff;
    }

    .stepper-item.active .step-counter {
        border-color: #ffc107;
        box-shadow: 0 0 0 4px rgba(255,193,7,.3);
    }

    .stepper-item.active.iptal .step-counter {
        border-color: #ffc107;
        background-color:red;
        box-shadow: 0 0 0 4px rgba(255,193,7,.3);
    }

    .step-name {
        margin-top: 8px;
        font-size: 13px;
        font-weight: 600;
    }

    .step-date {
        font-size: 11px;
        color: #6c757d;
        margin-top: 3px;
    }



    .product-cell {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .product-img {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        overflow: hidden;
        background: #f8f9fa;
        flex-shrink: 0;
    }

        .product-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .product-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
    }

    /* mobil */
    @@media (max-width:768px) {
        .product-img

    {
        width: 50px;
        height: 50px;
    }

    .product-name {
        font-size: 13px;
    }

    }


</style>